<h1 mat-dialog-title>Select printer</h1>
<div mat-dialog-content>
  <button mat-stroked-button style="margin-bottom: 10px" (click)="addPrinter()">
    + ADD PRINTER
  </button>
  @for (printer of printers; track printer) {
    <button
      mat-flat-button
      color="primary"
      style="width: 100%; height: 50px; margin-top: 10px"
      [mat-dialog-close]="printer.deviceId"
    >
      {{ printer.name }} - {{ printer.deviceId }}
    </button>
  }
</div>

<button
  mat-icon-button
  [mat-dialog-close]="undefined"
  style="position: absolute; top: 8px; right: 8px"
>
  <mat-icon>close</mat-icon>
</button>
