<mat-toolbar class="top-toolbar">
  <button mat-icon-button (click)="layoutService.leftSidenavToggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="top-toolbar-title">Category List</span>
  <span class="top-toolbar-spacer"></span>
  <button mat-icon-button (click)="showForm(-1)">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="content-container">
  <div class="content">
    @if (isFetching) {
      <mat-spinner style="margin: auto"></mat-spinner>
      <div style="text-align: center; font-size: 20px; margin-top: 20px">
        Loading, please wait...
      </div>
    } @else if (errorMessage) {
      <div class="box-red">
        {{ errorMessage }}
      </div>
    } @else {
      @for (category of categories; track category.id) {
        <div class="items" style="font-size: 18px" (click)="showForm($index)">
          <div>
            <span style="font-weight: 500">{{ category.name }}</span>
          </div>
        </div>
      } @empty {
        <div class="box-blue">Empty.</div>
      }
    }
  </div>
</div>
