.top-toolbar {
  position: fixed;
  top: 0px;
  height: 60px;

  background-color: darkslateblue;
  color: white;
}

.top-toolbar-title {
  margin-left: 8px;
}

.top-toolbar-spacer {
  flex: 1 1 auto;
}

.content-container {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 60px; // toolbar height
  height: calc(100vh - 40px - 60px); // total - padding-y - margin-y
  overflow-y: auto;

  background-color: white;
}

.content {
  max-width: 300px;
  margin: auto;
}
