.box-red {
  border: solid 1px lightgrey;
  padding: 20px;
  border-radius: 10px;
  background-color: pink;
}
.box-green {
  border: solid 1px lightgrey;
  padding: 20px;
  border-radius: 10px;
  background-color: lightgreen;
}
.box-blue {
  border: solid 1px lightgrey;
  padding: 20px;
  border-radius: 10px;
  background-color: lightskyblue;
}
.box-white {
  border: solid 1px lightgrey;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}
.box-whitesmoke {
  border: solid 1px lightgrey;
  padding: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
}
